.signInModal{
    position: fixed;
    height:100%;
    width:100%;
    z-index: 100;
    background-color: #C90000;
    
}

.inputDetails{
    margin:2%;
    padding:10px;
    font-family: "OldStandardTT";
    
}

.signInDetails{
    padding: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.closeButton{
    position: absolute;
    right:4%;
    top:4%;
    color:#C90000;
    background-color: white;
    border-radius: 3vh;
    font-size: 3vh;
    font-family: "Coolvetica";
    border:none;
    padding: 9px 15px 9px 15px;

}

.closeButton:hover{
    transform: scale(1.2);
}
.submitButton{
    font-family: "Coolvetica";
    color:white;
    background-color: #C90000;
    border:none;
}
.submitButton:hover{
    transform: scale(1.2);
}
.signInDetails input{
    font-size: 3vh;
}
.userInteractions{
    height:100%;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.stateChangeButton{
    color:#C90000;
    background-color: white;
    border-radius: 3vh;
    font-size: 3vh;
    font-family: "Coolvetica";
    border:none;
    padding: 9px 15px 9px 15px;
}