.ReviewIndex{
    position: fixed;
    top:14vh;
    height:86%;
    width:92%;
    padding:0% 4% 0 4%;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-self: center;
    font-family: 'Coolvetica';
    font-size: 3vh;
    color:white;
    z-index: 1;
    background-color: #C90000;
}

.ReviewIndexTitle{
    padding: 1% 0% 1% 0%;
    display: flex;
    flex-direction: column;
}

.waveTop{
    position: fixed;
    top: 10vh;
    z-index: 0;
    width: 100%;
}

.ReviewIndexDesc{
    height:80%;
    align-content: center;
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
}
