.navBar{
    width:96%;
    height:6%;
    position:fixed;
    padding-top: 2%;
    padding-left:2%;
    padding-right:2%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-size: 3vh;
}
.navBar a{
    text-decoration: none;
}

.navBarRed{
    width:96%;
    height:6%;
    position:fixed;
    padding:2% 2% 1% 2% ;
    display: flex;
    background-color: #C90000;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-size: 3vh;
}

.navBarRed{
    width:96%;
    height:5%;
    position:fixed;
    padding:1% 2% 1% 2% ;
    display: flex;
    background-color: #C90000;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-family: 'Coolvetica';
    font-size: 2vh;
    align-content: center;
    color:white;
}

.navBarRed a{
    text-decoration: none;
    color:white;
    margin-right: 2vh;
}
.navLinks{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
}

.signInModalButton{
    background-color: transparent;
    color:black;
    border:none;
    height:50%;
    font-family: "Coolvetica";
    font-size: 3vh;
}
.signInModalButton:hover{
    transform: scale(1.2);
    transition: 0.2s all;
}

.searchBar{
    width:40vw;
    padding:1%;
    height:2vh;
    margin-right:10px;
    color:#F5902A;
    background-color: white;
}