.navBar{
    width:92%;
    height:6%;
    position:fixed;
    padding: 2% 4% 2% 4%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-size: 3vh;
    align-content: center;
}
.navBar a{
    text-decoration: none;
    color:black
}
.navBar a:hover{
    color:#FFC123;
}

.navBarSigned{
    width:92%;
    height:6%;
    position:fixed;
    padding: 2% 4% 2% 4%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-family: 'Coolvetica';
    font-size: 2vh;
    align-content: center;
}

.navBarSigned a{
    text-decoration: none;
    color: black;
    margin-right: 2vh;
    padding: 1%;
}

.navBarSigned a:hover{
    color:#FFC123;
}

.navLinks{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
}


.signInModalButton{
    background-color: transparent;
    color:black;
    border:none;
    font-family: "Coolvetica";
    font-size: 3vh;
    height:80%;
}

.signInModalButton:hover{
    transform: scale(1.2);
    transition: 0.2s all;
}

.signOutButton{
    background-color: transparent;
    color:black;
    border:none;
    font-family: "Coolvetica";
    font-size: 3vh;
    height:80%;
}
.signOutButton:hover{
    transform: scale(1.2);
    color:#FFC123;
    transition: 0.2s all;
}
